@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Ubuntu Mono", sans-serif;
}

@media only screen and (max-width: 26.9375em) {
  html {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  color: #FFF;
  background-color: #000;
}

.header {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #004d00;
  padding: 0 5rem;
}

@media only screen and (max-width: 50em) {
  .header {
    height: 9rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header__brand {
  font-size: 2rem;
  cursor: pointer;
}

.header__link {
  text-decoration: none;
  color: #FFF;
}

.main-block {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

.main-block__content {
  margin: 4rem 0;
  padding: 2rem;
}

.main-block__content > * {
  margin: 2rem 0;
}

@media only screen and (max-width: 29.25em) {
  .main-block__content {
    padding: 0;
    width: 100%;
  }
}

.main-block__btns {
  width: 45%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 35em) {
  .main-block__btns {
    width: 80%;
    margin: 0 auto;
  }
}

.main-block__heading {
  color: green;
  font-weight: 300;
  font-size: 2rem;
  padding-left: 2rem;
}

.list {
  list-style: none;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}

.details__key {
  color: green;
}

.btn, .btn:visited, .btn:active {
  border: none;
  font-family: inherit;
}

.btn-rounded {
  padding: 2rem;
  font-size: 1.8rem;
  border-radius: 100px;
}

.btn--green {
  background-color: green;
  color: #cccccc;
}
