@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
$background-color:#000;
$font-color:#FFF;
$key-color:green;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Ubuntu Mono", sans-serif;
    @media only screen and (max-width: 26.9375em) {
        font-size: 50%;
    }
}

body {
    font-size: 1.6rem;
    color: $font-color;
    background-color: $background-color;
}

.header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darken($color: $key-color, $amount: 10%);
    padding: 0 5rem;
    @media only screen and (max-width: 50em) {
        height: 9rem;
        flex-direction: column;
        justify-content: space-around;
    }
    &__brand {
        font-size: 2rem;
        cursor: pointer;
    }
    &__tool-box {
        display: flex;
        flex: 0 0 25%;
        justify-content: space-between;
        @media only screen and (max-width: 50em) {
            flex: 0 0 40%;
            flex-direction: column;
            height: 5rem;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__link {
        text-decoration: none;
        color: $font-color;
    }
}

.main-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 50em) {
        width: 100vw;
    }
    &__content {
        margin: 4rem 0;
        padding: 2rem;
        &>* {
            margin: 2rem 0;
        }
        @media only screen and (max-width: 29.25em) {
            padding: 0;
            width: 100%;
        }
    }
    &__forms {
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &__heading {
        color: $key-color;
        font-weight: 300;
        font-size: 2rem;
    }
    &__subtitle {
        color: $key-color;
        font-size: 1.4rem;
        font-weight: 200;
    }
}

.list {
    list-style: none;
     :not(:last-child) {
        margin-bottom: .5rem;
    }
}

.details {
    &__key {
        color: $key-color;
        padding: 1rem;
    }
}

.btn {
    &,
    &:visited,
    &:active {
        border: none;
        font-family: inherit;
    }
    &-rounded {
        padding: 2rem;
        font-size: 1.8rem;
        border-radius: 100px;
    }
    &--green {
        background-color: $key-color;
        color: darken($color: $font-color, $amount: 20%);
    }
}

.form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    &--block {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__input {
        border: none;
        background: lighten($color: grey, $amount: 30%);
        color: $key-color;
        height: 40px;
        padding-left: 3rem;
        margin: 2rem 0;
        border-radius: 100px;
    }
}