<header class="header">
    <div class="header__brand">
        <a href="/" class="header__link">$ Vpn Tester</a>
    </div>
    <li>
        <a href="https://www.LinkedIn.com/in/massigy" target="blank" class="header__link">Developer</a>
    </li>
</header>