<header class="header">
    <div class="header__brand">
        <a href="/" class="header__link">$ Vpn Tester</a>
    </div>
    <ul class="header__tool-box">
        <li>
            <a href="/sendEmail" class="header__link">Send To Email</a>
        </li>
        <li>
            <a href="https://www.LinkedIn.com/in/massigy" target="blank" class="header__link">Developer</a>
        </li>
    </ul>
</header>