<%- include('../partials/__head.ejs')  %>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <body>

        <%- include('../partials/__header')  %>
            <section class="main-block">
                <div class="main-block__content">
                    <h4 class="main-block__heading">
                        $_here will be desplayed you vpn test resaults.
                    </h4>
                    <ul class="main-block__list list">

                        <li class="list__item details" id="ip_address">
                            <strong class="details__key">$>_current ip address:</strong>


                        </li>
                        <li class="list__item details" id="country">
                            <strong class="details__key">$>_current geo location:</strong>

                        </li>
                        <li class="list__item details" id="country_code">
                            <strong class="details__key">$>_current geo location code:</strong>


                        </li>
                        <li class="list__item details" id="continent">
                            <strong class="details__key">$>_current address continent:</strong>


                        </li>
                        <li class="list__item details" id="longitude">
                            <strong class="details__key">$>_current geo longitude:</strong>


                        </li>
                        <li class="list__item details" id="latitude">
                            <strong class="details__key">$>_current geo latitude:</strong>



                        </li>
                    </ul>
                </div>
                <div class="main-block__forms">
                    <Form class="main-block__form form form--inline">
                        <button id="testBtn" class="btn btn-rounded btn--green form__btn">Test my Vpn</button>
                    </Form>
                    <Form class="main-block__form form" method="POST" action="/reset">
                        <button id="resetVpn" class="btn btn-rounded form__btn">Reset  Test</button>
                    </Form>
                </div>
            </section>

    </body>
    <script src="../scripts/scanIp.js"></script>

    </html>