<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="https://img.icons8.com/fluent/48/000000/vpn.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Vpn Tester | Your All In One Vpn Testing App</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
    <header class="header">
        <div class="header__brand">
            <a href="/" class="header__link">$ Vpn Tester</a>
        </div>
        <li>
            <a href="https://www.LinkedIn.com/in/massigy" target="blank" class="header__link">Developer</a>
        </li>
    </header>
    <section class="main-block">
        <div class="main-block__content">
            <h4 class="main-block__heading">
                $_here will be desplayed you vpn test resaults.
            </h4>
            <ul class="main-block__list list">



            </ul>
        </div>
        <div class="main-block__btns">
            <button id="testBtn" class="btn btn-rounded btn--green  ">Test my Vpn</button>
            <form action="/" method="GET">
                <button id="resetBtn" class="btn btn-rounded    ">Reset Test</button>
            </form>
        </div>
    </section>

</body>
<script src="/scripts/scanIp.js"></script>

</html>
