<%- include('../partials/__head') %>

    <body>
        <%- include('../partials/__header') %>

            <section class="main-block">
                <div class="main-block__content">
                    <h4 class="main-block__heading">
                        $_You will recieve all the test resaults as an email.
                    </h4>
                    <h6 class="main-block__subtitle">>Please checkout you email spam section</h6>
                    <Form class="main-block__form form form--block" method="POST" action="/sendEmail">
                        <input type="text" name="Username" placeholder="Email Account Username" class="form__input" autofocus required>
                        <input type="email" name="Email_address" placeholder="Email Account Address" class="form__input" required>
                        <button class="btn btn-rounded btn--green form__btn">Send Email</button>
                    </Form>
                </div>

            </section>



    </body>


    </html>